dbs/sample/71514/testdb_update/table_name10.dtd

<?xml version="1.0" encoding="UTF-8"?>
	<!ELEMENT table_name10 (row)*>
	<!ELEMENT row (column_name1,column_name2,column_name3)>
	<!ELEMENT column_name1 (#PCDATA)>
	<!ATTLIST column_name1 type CDATA #FIXED "varchar">
	<!ELEMENT column_name2 (#PCDATA)>
	<!ATTLIST column_name2 type CDATA #FIXED "int">
	<!ELEMENT column_name3 (#PCDATA)>
	<!ATTLIST column_name3 type CDATA #FIXED "varchar">
