dbs/test/t1.dtd

<?xml version="1.0" encoding="UTF-8"?>
	<!ELEMENT t1 (row)*>
	<!ELEMENT row (column1,column2,column3)>
	<!ELEMENT column1 (#PCDATA)>
	<!ATTLIST column1 type CDATA #FIXED "int">
	<!ELEMENT column2 (#PCDATA)>
	<!ATTLIST column2 type CDATA #FIXED "varchar">
	<!ELEMENT column3 (#PCDATA)>
	<!ATTLIST column3 type CDATA #FIXED "int">
